<h1>Choose an Available Appointment</h1>
<form method="POST" >
  {% csrf_token %}
  <ul>
    {% for appointment in appointments %}
      <li>
        {{ appointment.start_time }} - {{ appointment.end_time }}
        <input type="radio" name="appointment_id" value="{{ appointment.id }}">
        <label>{{ appointment }}</label>
          <label>{{ appointment.patent }}</label>
        <span>Doctor Delay: {{ appointment.doctor_delay|default:"Not Set" }}</span>
      <a href="{% url 'turn:pay' appointment_id=appointment.id %}">Pay for Appointment</a>
      </li>
    {% empty %}
      <li>No available appointments.</li>
    {% endfor %}
  </ul>
  <button type="submit">Reserve</button>
</form>